## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

ImportError: cannot import name 'g_key' from 'config' (C:\Users\Nick\Bootcamp\Projects\Weather_Database\Vacation_Search\config.py)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Walvis Bay,NaN,2022-04-03 20:56:05,-22.9575,14.5053,59.09,88,0,2.30
1,1,East London,ZA,2022-04-03 20:53:03,-33.0153,27.9116,71.92,89,83,13.49
2,2,Mangai,CD,2022-04-03 20:56:05,-4.0500,19.5333,71.49,96,90,2.06
3,3,Coruripe,BR,2022-04-03 20:56:05,-10.1256,-36.1756,78.24,81,55,9.51
4,4,Bredasdorp,ZA,2022-04-03 20:56:06,-34.5322,20.0403,61.03,90,47,1.63

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
#N/a

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df =preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
3    Coruripe      BR     78.24 -10.1256  -36.1756
7      Teknaf      BD     76.05  20.8624   92.3058
13  La Romana      DO     75.56  18.4273  -68.9728
17    Rikitea      PF     76.75 -23.1203 -134.9692
22      Kapaa      US     77.47  22.0752 -159.3190
27  Manokwari      ID     78.30  -0.8667  134.0833
31      Sumbe      AO     77.59 -11.2061   13.8437
37      Vaini      TO     75.36 -21.2000 -175.2000
58     Omboue      GA     77.90  -1.5746    9.2618
61        Vao      NC     79.29 -22.6667  167.4833

In [54]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": "AIzaSyC1Yr7Y7RF7yN_0_VAGHN5QBJRgefGmG2E"
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Coruripe,BR,78.24,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
7,Teknaf,BD,76.05,20.8624,92.3058,Forestry Guesthouse
13,La Romana,DO,75.56,18.4273,-68.9728,Casa de Campo Resort and Villas
17,Rikitea,PF,76.75,-23.1203,-134.9692,People ThankYou
22,Kapaa,US,77.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [78]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

In [82]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [83]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [84]:
# 8a. Create the output File (CSV)
output_data_file="../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [85]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))